<!DOCTYPE html>
<head>
  <title>MonsterSmash</title>
<link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

{{{body}}}

</body>
