


<h1>Choose Your Monster!</h1><br />

{{#each monsters}}

<img class="monsterimg" src="{{monster_img}}"

{{/each}}

<br/>
<h1>Choose Your City!</h1><br />
{{#each cities}}

<img class="monsterimg" src="{{city_img}}">

{{/each}}

<br />

<br />

<a href="/result">Attack!</a>