<h1>Choose Your Monster!</h1><br />

{{#each monsters}}
<img src="{{monster_img}}"><br />
{{/each}}

<h1>Choose Your City!</h1><br />
{{#each cities}}
{{city_img}}<br />
{{/each}}

<a href="/result">Attack!</a>