<head>
  <title>MonsterSmash</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <h1>{{city}}</h1>
  <br/>
  <img src="{{city_img}}" alt="city pic">


  <p>{{destroyedMessage}}</p>
  <br/>
  <a href="/">Back</a>
  <a href="/attack">Attack</a>

</body>
