<h1>Welcome to MonsterSmash!</h1>
<br/>

<div class=container>
  <h3>Monsters</h3>
    <ul>
    {{#each monsters}}
    <li> <a href="profiles/{{id}}">{{monster}}</a>
    {{/each}}
    </ul>
</div>

<br/>

<div class=container>
  <h3>Cities</h3>
  <ul>
  {{#each cities}}
  <li> <a href="cities/{{id}}">{{city}}</a>
  {{/each}}
  </ul>
</div>

<br/>
<div class=container></div>
<a href="/attack">Attack</a>
</div>

</body>
