<head>
  <title>MonsterSmash</title>
</head>

<body>

<h1>{{data.monster}}</h1>
<br/>
<img src="{{data.monster_img}}" alt="monster profile pic">
<p>{{description}}</p>

<br/>
<a href="/">Back</a>


</body>
