<head>
  <title>MonsterSmash</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

<h1>{{monster}}</h1>
<br/>
<img class="monsterimg" src="{{monster_img}}" alt="monster profile pic">
<p>{{description}}</p>

<br/>
<a href="/">Back</a>


</body>
