<head>
  <title>MonsterSmash</title>
</head>

<body>

<h1>{{monster}}</h1>
<br/>
<img src="{{monster_img}}" alt="monster profile pic">
<p>{{description}}</p>



{{#each powers}}
<p>Special Powers: {{this}}</p>
{{/each}}

<br/>
<a href="/">Back</a>
<a href="/attack">Attack</a>


</body>
